
$color-light-text :#EEEEEE;
$color-bg : #222831;
$color-bg : #333333;

$color-btn : #17BEBB;
$color-hover : #0E7C7B;

$color-hover2 :#31363F;
$color-hover3 :#76ABAE;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

 $font-family-logo: "Rubik Doodle Shadow", system-ui;
 $font-family : "Hanken Grotesk", sans-serif;

  // max-width
$max-width-wrapper-: 1140px;


//  Mobile font style
$font-mobile-page-header: 700 #{1.5rem}/#{2rem} $font-family;
$font-mobile-section-header: 700 #{0.75rem}/#{1.25rem} $font-family;
$font-mobile-subheader: 700 #{0.8125rem}/#{1.125rem} $font-family;
$font-mobile-body: 400 #{0.8125rem}/#{1.125rem} $font-family;
$font-mobile-labels: 700 #{0.625rem}/#{1.25rem} $font-family;
$font-mobile-buttons: 700 #{0.625rem}/#{1.25rem} $font-family;

//Tablet & Desktop Font Style
$font-tablet-page-header : 700 #{2.0635rem}/#{2.75rem} $font-family;
$font-tablet-section-header: 700 #{0.75rem}/#{1.25rem} $font-family;
$font-tablet-subheader: 700 #{0.875rem}/#{1.375rem} $font-family;
$font-tablet-body: 400 #{1rem}/#{2rem} $font-family;
$font-tablet-labels: 700 #{0.75rem}/#{1.25rem} $font-family;
$font-tablet-buttons: 700 #{0.75rem}/#{1.25rem} $font-family;
