
$color-light-text :#EEEEEE;
$color-bg : #222831;

$color-btn : #17BEBB;
$color-hover : #0E7C7B;

$color-hover2 :#31363F;
$color-hover3 :#76ABAE;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

 $font-family-logo: "Rubik Doodle Shadow", system-ui;
 $font-family-main : "Hanken Grotesk", sans-serif;

  // max-width
$max-width-wrapper: 1140px;

